.about-main {
	padding: 84px 0 520px 0;
}

.about-hero {
	background-color: blue;
	position: relative;
	display: inline-block;
	width: 100%;
}

.about-img {
	display: block;
	width: 100%;
	height: fit-content;
}

.overlay-text {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1rem 0;
}

.title,
.sub-title {
	font-size: 1.75rem;
	font-weight: 600;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: white;
}

.sub-title {
	font-size: 1rem;
	font-weight: 300;
}

.bio {
	padding: 1rem;
}

.click {
	padding: 1rem;
}

.questions-container {
	padding: 1rem;
}

.question,
.answer {
	height: 10rem;
	width: 90%;
	margin: auto;
	background-color: var(--complementary-bg);
	background-image: linear-gradient(
		to right,
		var(--complementary-bg),
		var(--secondary-bg)
	);
	color: var(--header-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	margin-bottom: 2rem;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 3px 3px black, -1em 0 0.4em var(--active-nav-bg);
	box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
		rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
		rgb(255, 85, 85) 0px 0px 0px 15px;
	box-shadow: #3b012a 0px 0px 0px 3px, #421034 0px 0px 0px 6px,
		#0f162e 0px 0px 0px 9px, #1d355d 0px 0px 0px 12px, #091849 0px 0px 0px 15px;
}

.answer {
	background-color: var(--active-nav-bg);
	background-image: linear-gradient(
		to right,
		var(--helper-text),
		var(--active-nav-bg)
	);
	color: var(--secondary-text);
	box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 70%);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
		rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
		rgb(255, 85, 85) 0px 0px 0px 15px;
	box-shadow: #3b012a 0px 0px 0px 3px, #421034 0px 0px 0px 6px,
		#0f162e 0px 0px 0px 9px, #1d355d 0px 0px 0px 12px, #091849 0px 0px 0px 15px;
}

.tech-stacks {
	width: 100%;
}

.tech-stacks > h3 {
	padding: 0 1rem;
	text-align: center;
}

.tech-stack {
	text-align: center;
	margin-bottom: 1rem;
}

.tech-stack-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.frontend-technologies,
.backend-technologies,
.databases-and-orms {
	padding: 2rem;
}

.frontend-technologies {
	background-color: var(--secondary-bg);
	background-color: var(--tertiary-bg);
	color: var(--secondary-text);
}

.backend-technologies {
	background-color: var(--tertiary-bg);
	background-color: var(--helper-text);
	color: var(--secondary-text);
}

.databases-and-orms {
	background-color: var(--secondary-bg);
	background-color: var(--tertiary-bg);
	background-color: var(--accent-color);
	background-color: var(--primary-bg);
	background-color: var(--helper-text);
	color: var(--secondary-text);
}

.enquiry {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
	margin-top: 3rem;
}

.enquiry h3 {
	font-weight: 600;
}

.contact {
	text-decoration: none;
	text-transform: uppercase;
	width: fit-content;
	padding: 1rem 2rem;
	background-color: var(--active-nav-bg);
	color: var(--secondary-text);
	font-size: 1.25rem;
	border-radius: 50px;
}

.contact:hover {
	color: var(--secondary-text);
}

@media only screen and (min-width: 450px) {
	.about-main {
		padding: 84px 0 500px 0;
	}
}

@media only screen and (min-width: 768px) {
	.overlay-text {
		padding: 2rem;
	}

	.title {
		font-size: 2rem;
		padding-bottom: 2rem;
	}

	.sub-title {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.about-img {
		height: 400px;
	}

	.questions-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	.question,
	.answer {
		width: 100%;
		margin-bottom: 2rem;
	}

	.tech-stack-images {
		gap: 3rem;
	}
}

@media only screen and (min-width: 1268px) {
	.about-main {
		padding: 84px 0 400px 0;
	}
	.overlay-text {
		padding: 2rem 5rem;
	}

	.title {
		font-size: 3rem;
		font-weight: 300;
	}

	.sub-title {
		font-size: 2.5rem;
		font-weight: 900;
	}

	.bio {
		padding: 0 10%;
		font-size: 1.25rem;
	}

	.click {
		text-align: center;
		font-weight: 600;
	}

	.questions-container {
		width: 80%;
		margin: auto;
		padding: 0;
		gap: 2rem;
	}

	.question,
	.answer {
		width: 100%;
		margin-bottom: auto;
	}

	.tech-stacks > h3 {
		width: 80%;
		margin: auto;
		text-align: center;
		padding: 2rem 0;
		font-weight: 900;
	}

	.frontend-technologies,
	.backend-technologies,
	.databases-and-orms {
		padding: 2rem 10%;
		margin: auto;
	}

	.contact {
		font-size: 1.5rem;
		padding: 1.25rem 2.5rem;
	}
}
