.contact-main {
	padding: 84px 0 300px 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.send {
	text-transform: uppercase;
	padding: 1rem 2rem;
	font-size: 1.25rem;
	background-color: var(--active-nav-bg);
	color: var(--secondary-text);
	border-radius: 50px;
}