.details-main {
	padding-top: 84px;
	padding-bottom: 31rem;
}

.project-name {
	margin: 1rem auto;
	text-align: center;
	color: var(--bluish-text);
}

.details-img {
	width: 100%;
	height: auto;
	margin: auto;
}

.project-name-span {
	font-weight: 700;
	color: var(--bluish-text);
}

.details-summary {
	margin: 1rem;
	font-size: 1.25rem;
}

.external-link {
	font-style: italic;
	font-weight: 700;
	color: var(--bluish-text);
}

.details-summary:first-child {
	margin-top: 2rem;
}

.link-container {
	text-align: center;
	margin: 3.5rem auto 2rem auto;
}

.live-demo {
	text-decoration: none;
	background-color: var(--btn-bg);
	text-transform: uppercase;
	padding: 1rem;
	font-size: 1.25rem;
	color: var(--secondary-text);
	border-radius: 50px;
}

.live-demo:hover {
	color: var(--secondary-text);
}

@media only screen and (min-width: 477px) {
	.details-main {
		padding-bottom: 28rem;
	}
}

@media screen and (min-width: 768px) {
	.project-name {
		font-size: 3rem;
		font-weight: 900;
	}

	.details-img {
		width: 85%;
		margin: auto 7.5%;
	}
	.details-summary {
		margin: 1rem 7.5%;
		font-size: 1.5rem;
	}
	.live-demo {
		font-size: 1.75rem;
		padding: 1rem 2rem;
	}
}

@media only screen and (min-width: 1268px) {
	.details-main {
		padding-bottom: 22.5rem;
	}
}
