.details-main {
	padding: 84px 0 320px 0;
}

.project-name {
	margin: 1rem auto;
	text-align: center;
}

.details-img {
	width: 100%;
	height: auto;
	margin: auto;
}

.details-summary {
	margin: 1rem;
	font-size: 1.25rem;
}

.link-container {
	text-align: center;
	margin: 3.5rem auto 2rem auto;
}

.live-demo {
	text-decoration: none;
	padding: 0.5rem 1rem;
	background-color: var(--tertiary-bg);
	border-radius: 4px;
	font-size: 1.25rem;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.project-name {
		font-size: 4rem;
		font-weight: 900;
	}

	.details-img {
		width: 85%;
		margin: auto 7.5%;
	}
	.details-summary {
		margin: 1rem 7.5%;
		font-size: 1.5rem;
	}
	.live-demo {
		font-size: 1.75rem;
		padding: 1rem 1.5rem;
	}
}
