html,
body {
	overflow-x: hidden;
	position: relative;
	min-height: 100vh;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 500;
}

h1 {
	font-family: var(--font-roboto-mono);
}


:root {
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;
	--header-bg: #0b010b;
	--banner-btn: rgba(11, 1, 11, 0.7);
	--body-bg: #988B75;
	--light-bg: #EAECCC;
	--primary-bg: #1e2037;
	--active-nav-bg: #2d3033;
	--secondary-bg: #EBB7B7;
	--frontend-bg: #E2BFB3;
	--backend-bg: #9BC4E2;
	--full-stack-bg: #D0BFFF;
	--tertiary-bg: #0047AB;
	--complementary-bg: #7CB9E8;
	--green-accent: #379683;
	--btn-bg: #283655;
	--accent-color: #54081c;
	--primary-text: #000000;
	--secondary-text: #ffffff;
	--tertiary-text: #E3B778;
	--helper-text: #272727;
	--bluish-text: #38335c;
	--brownish-text: #531a2d;
	--testimonial-main-bg: #A5C4CF;
	--testimonial-container: #CFC5A5;
	--testimonial-text: #000000;
	--footer-bg: #3a053a;
	--footer-bg: #202024;
	--mobile-footer-bg: #1f2833;
	--footer-bg-complementary: #20232e;
	--github-bg: #bd2c00;
	--github-bg: #6cc644;
	--github-bg: #6e5494;
	--footer-primary-text: #E3B778;
	--footer-nav-links: #a881af;
	--footer-nav-links-hover: #379683;
	--footer-border-line: #BBBBBB;
	--hamburger-menu: #990f02;
	--hamburger-menu: #950740;
	--hamburger-menu: #4056a1;
}