html,
body {
	overflow-x: hidden;
	position: relative;
	min-height: 100vh;
}


:root {
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;

	--header-bg: #493F5E;
	--header-bg: #0b010b;
	--body-bg: #7d715d;
	--body-bg: #988B75;
	--body-bg: #DBDEA7;
	--light-bg: #EAECCC;
	--primary-bg: #1e2037;
	--active-nav-bg: #383d59;
	--active-nav-bg: #61101c;
	--active-nav-bg: #990f02;
	--secondary-bg: #B39BC8;
	--secondary-bg: #B284BE;
	--secondary-bg: #F2C1D1;
	--secondary-bg: #BE93E4;
	--tertiary-bg: #7e2a39;
	--tertiary-bg: #0047AB;
	--complementary-bg: #379683;
	--complementary-bg: #B0C4DE;
	--complementary-bg: #7CB9E8;
	--green-accent: #379683;
	--btn-bg: #1c4075;
	--btn-bg: #4E2A84;
	--accent-color: #54081c;
	--primary-text: #000000;
	--secondary-text: #ffffff;
	--tertiary-text: #E3B778;
	--helper-text: #272727;
	--footer-bg: #2C041C;
	--footer-bg: #06010B;
}