.projects-main {
	width: 100%;
	padding-top: 84px;
	padding-bottom: 320px;
	margin-bottom: 0;
	position: relative;
	top: 0;
}

.page-title {
	margin: 1.25rem auto;
	color: var(--active-nav-bg);
	font-weight: 900;
	text-align: center;
}

.projects-wrapper {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-content: flex-start;
	justify-content: center;
	grid-auto-rows: auto;
	grid-auto-columns: auto;
	gap: 2rem;
}

.project-wrapper {
	width: 100%;
	height: fit-content;
	margin-top: 0;
	background-color: var(--primary-bg);
	cursor: pointer;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	box-shadow: inset 0 0 0 0 black;
	transition: color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
	border-radius: 8px;
}

.tooltip {
	visibility: hidden;
	width: max-content;
	background-color: var(--primary-bg);
	color: var(--secondary-text);
	text-align: center;
	border-radius: 4px;
	padding: 6px 12px;
	position: absolute;
}

.image-tooltip-container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image-tooltip-container:hover .tooltip {
	visibility: visible;
}

.project-title {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 0.5rem 0;
	border-radius: 4px;
	color: var(--secondary-text);
}

.image-container {
	position: relative;
	width: 90%;
	height: 260px;
	margin: auto;
}

.project-img {
	width: 100% !important;
	height: auto;
}

.project-links-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
}

.live-demo-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: var(--active-nav-bg);
	color: var(--secondary-text);
	box-shadow: inset 0 0 0 0 var(--buttons-hover-bg);
	transition: color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
	text-transform: capitalize;
	padding: 0.5rem;
	border-radius: 4px;
	text-rendering: optimizeLegibility;
	width: 100%;
	border: 4px solid var(--primary-bg);
}

.live-demo-link:hover {
	color: var(--secondary-text);
}

@media screen and (min-width: 768px) {
	.projects-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.project-title,
	.live-demo-link {
		font-size: 1.25rem;
	}
}

@media screen and (min-width: 1200px) {
	.projects-wrapper {
		width: 95%;
	}

	.projects-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}
