.services-main {
	padding-top: 84px;
	padding-bottom: 31rem;
}

.services {
	width: 90%;
	margin: auto;
}

.headings {
	padding: 0 5%;
	margin: 1rem auto;
}

.primary-heading {
	text-align: center;
	font-weight: 600;
	color: var(--bluish-text);
}

.secondary-heading {
	color: var(--brownish-text);
}

.service-name {
	font-weight: 900;
	color: var(--bluish-text);
}

.service-img {
	width: 100%;
	height: auto;
}

.service-description {
	margin-top: 1rem;
	color: var(--brownish-text);
}

.take-action {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 90%;
	margin: auto;
}

.invite {
	font-weight: 600;
	text-align: center;
	color: var(--bluish-text);
}

.contact-btn {
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem 2rem;
	background-color: var(--accent-color);
	background-color: var(--btn-bg);
	color: var(--secondary-text);
	font-size: 1.25rem;
	border-radius: 50px;
}

.contact-btn:hover {
	color: var(--secondary-text);
}

@media only screen and (min-width: 477px) {
	.services-main {
		padding-bottom: 28rem;
	}
}

@media only screen and (min-width: 768px) {

	.primary-heading,
	.secondary-heading {
		text-align: center;
	}

	.services {
		width: 80%;
	}

	.contact-btn {
		font-size: 1.5rem;
		padding: 1.25rem 2.5rem;
	}
}

@media only screen and (min-width: 1268px) {
	.services-main {
		padding-bottom: 24rem;
	}

	.services {
		width: 90%;
	}

	.headings {
		width: 80%;
		padding: 0;
		/* margin: auto; */
	}

	/* .reveal {
		background-color: var(--helper-text);
		background-color: var(--body-bg);
	} */

	.service-container {
		margin-bottom: 2rem;
	}

	.grid-even {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.grid-odd {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.grid-odd>.service-description {
		grid-column-start: 1;
		grid-row-start: 1;
	}

	.service-img {
		height: 100%;
	}

	.service-description {
		padding: 1rem 2rem;
		background-color: var(--light-bg);
		color: var(--primary-text);
		color: var(--brownish-text);
		margin-top: 0;
		display: flex;
		font-size: 1.1rem;
		align-items: center;
		height: 100%;
	}
}