.services-main {
	padding: 84px 0 300px 0;
}

.services {
	width: 90%;
	margin: auto;
}

.headings {
	background-color: var(--accent-color);
	padding: 1rem 5%;
	color: var(--tertiary-text);
	margin-bottom: 1.5rem;
}

.service-name {
	font-weight: 900;
}

.service-img {
	width: 100%;
	height: auto;
}

.service-description {
	margin-top: 1rem;
}

.take-action {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 90%;
	margin: auto;
}

.invite {
	font-weight: 600;
	text-align: center;
}

.contact-btn {
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem 2rem;
	background-color: var(--accent-color);
	color: white;
	font-size: 1.25rem;
}

.contact-btn:hover {
	color: var(--secondary-text);
}

@media only screen and (min-width: 768px) {

	.primary-heading,
	.secondary-heading {
		text-align: center;
	}

	.services {
		width: 80%;
	}
}

@media only screen and (min-width: 1268px) {
	.services {
		width: 90%;
	}

	.reveal {
		background-color: var(--helper-text);
		background-color: var(--complementary-bg);
	}

	.service-container {
		margin-bottom: 2rem;
	}

	.grid-even {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.grid-odd {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.grid-odd>.service-description {
		grid-column-start: 1;
		grid-row-start: 1;
	}

	.service-img {
		height: 100%;
	}

	.service-description {
		padding: 1rem 2rem;
		background-color: var(--accent-color);
		background-color: var(--light-bg);
		color: var(--tertiary-text);
		color: var(--primary-text);
		margin-top: 0;
		display: flex;
		font-size: 1.1rem;
		align-items: center;
		height: 100%;
	}
}