.testimonials-main {
    background-color: var(--testimonial-main-bg);
    margin-bottom: 2.25rem;
    margin-top: 1rem;
    color: var(--testimonial-text);
}

.title {
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding: 1rem 5%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 1rem;
    color: var(--bluish-text);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: var(--testimonial-container);
    /* background-color: var(--testimonial-container); */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 1rem;
    color: var(--bluish-text);
}

.image-container {
    text-align: center;
}

.testimonial-image {
    margin-top: 1rem;
    border-radius: 50%;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
}

.fa-quote-left,
.fa-quote-right {
    color: var(--btn-bg);
}

.personal-info {
    align-self: flex-end;
    color: var(--bluish-text);
}

.personal-info p {
    margin-bottom: 0;
}

/* Carousel */

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    position: relative;
    width: 100%;
    background-color: var(--testimonial-container);
    background-color: var(--testimonial-main-bg);
}

.slide_direction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chevron {
    font-size: 1.75rem;
    color: var(--footer-bg);
    color: var(--btn-bg);
    cursor: pointer;
}

.left,
.right {
    position: absolute;
    margin: auto 20px;
    top: 22%;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.carousel-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dot {
    background-color: var(--testimonial-container);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}

.current {
    background-color: var(--btn-bg);
    cursor: default;
}

.custom-btn:hover {
    transform: scale(1.2);
}

@media only screen and (min-width: 768px) {
    .testimonials-main {
        padding: 5% 5% calc(5% - 28px) 5%;
        margin-top: 5%;
        margin-bottom: -0.5rem;
    }

    .dot {
        width: 16px;
        height: 16px;
        margin-top: 12px;
    }
}

@media only screen and (min-width: 1268px) {
    .testimonials-main {
        padding: 5% 5% calc(5% - 32px) 5%;
        margin-top: 5%;
        margin-bottom: 0.4rem;
    }

    .title {
        font-size: 2rem;
        font-weight: 900;
        background-color: var(--testimonial-container);
    }

    .wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding: 3rem 4rem;
        margin-bottom: 0;
    }

    .testimonial-container {
        gap: 1rem;
    }

    .fa-quote-left,
    .fa-quote-right {
        font-size: 1.5rem;
    }

    .testimonial {
        font-size: 1.25rem;
    }

    .personal-info {
        justify-self: flex-end;
    }

    .personal-info p {
        font-size: 1.25rem;
    }

    .info {
        font-weight: 500;
    }

    .testimonial-image {
        margin-top: auto;
    }

    .left,
    .right {
        margin: auto -50px;
        top: calc(50% - 20px);
    }

    .fa-chevron {
        font-size: 2.2rem;
    }

    .dot {
        width: 16px;
        height: 16px;
        margin-top: 22px;
    }
}